div{
    display: inline-block;
    border: 1px solid black;
    padding: 15px;

}
.register{
    width: 200px;
    height: 400px;
}
.login{
    vertical-align:top;
    width: 200px;
    height: 400px;
}
.mini{
    margin-bottom: -10px;
    font-size: 12px;
    color: red;
}
button{
    align-items: right;
}
span{
    color: red;
}
